[Desktop Entry]
Name=Swap
Comment=Enable to swap two windows geometries. Useful if you have a specific windows layout that you don't want to break.
Icon=preferences-system-windows

X-KDE-PluginInfo-Author=Jérémy Kalsron
X-KDE-PluginInfo-Email=jeremy.kalsron@gmail.com
X-KDE-PluginInfo-Name=replacewindow
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL

Type=Service
X-KDE-ServiceTypes=KWin/Script
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
